@media screen and (max-width:1000px) {
    nav {
        display: flex;
        flex-direction: column;
        height: 23vh;
        justify-content: center;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 2vh 0vw;
        height: 8vh;
        margin-left: 3vw;
    }

    nav ul {
        display: flex;
        align-items: center;
        margin: 2vh 0vw;
        height: 4vh;
    }

    nav ul li {
        height: 4vh;
        margin-right: 5vw;
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2vh 0vw;
    }

    .search input {
        height: 4vh;
        /* margin-right: 3vw; */
    }

    .search input:hover {
        height: 4vh;
    }

    .search button {
        width: 10vw;
        height: 4.5vh;
        margin-right: 8vw;
    }

    .search button:hover {
        width: 10vw;
        height: 4.5vh;
        margin-right: 8vw;
    }

    .card {
        height: 30vh;
    }

    .card img {
        height: 20vh;
    }

    .login {
        width: 50vw;
        height: 50vh;
        align-items: center;
        justify-content: center;
    }

    .login input {
        width: 30vw;
        height: 4vh;
    }

    .login input:hover {
        width: 30vw;
        height: 4vh;
    }

    .login button {
        width: 30vw;
        height: 4vh;
    }

    .login button:hover {
        width: 30vw;
        height: 4vh;
    }

    .login hr {
        width: 40vw;
    }

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup {
        width: 40vw;
        height: 90vh;
    }

    .signup input {
        width: 30vw;
    }

    .signup input:hover {
        width: 30vw;
    }

    .signup button {
        width: 30vw;
    }

    .signup button:hover {
        width: 30vw;
    }

    .signup hr {
        margin-left: 1vw;
    }

    .cart-img {
        height: 24vh;
    }

    .cart-img:hover {
        height: 24vh;
    }

    .cart-img img {
        height: 24vh;
    }
}

@media screen and (max-width:500px) {
    nav {
        height: 23vh;
    }

    nav ul li {
        height: 3vh;
        margin-left: 10vw;
        padding: 0.2vh 2vw 0vh 2vw;
    }

    nav ul {
        height: 3vh;
        margin-right: 6vw;
    }

    .search input {
        width: 60vw;
        height: 3vh;
    }

    .search input:hover {
        width: 60vw;
        height: 3vh;
    }

    .search button {
        height: 3.4vh;
        width: 15vw;
    }

    .search button:hover {
        height: 3.4vh;
        width: 15vw;
    }

    .card {
        height: 25vh;
    }

    .card img {
        height: 10vh;
    }

    .login {
        width: 75vw;
        height: 55vh;
    }

    .login input {
        width: 60vw;
        height: 4vh;
    }

    .login input:hover {
        width: 60vw;
        height: 4vh;
    }

    .login button {
        width: 60vw;
        height: 4vh;
    }

    .login button:hover {
        width: 60vw;
        height: 4vh;
    }

    .login hr {
        width: 65vw;
    }

    .signup {
        width: 75vw;
    }

    .signup input {
        width: 60vw;
        height: 4vh;
    }

    .signup input:hover {
        width: 60vw;
        height: 4vh;
    }

    .signup button {
        width: 60vw;
        height: 4vh;
    }

    .signup button:hover {
        width: 60vw;
        height: 4vh;
    }

    .signup hr {
        width: 60vw;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .cart-img {
        width: 60vw;
        height: 25vh;
    }

    .cart-img:hover {
        width: 60vw;
        height: 25vh;
    }

    .cart-img img {
        width: 60vw;
        height: 25vh;
    }

    .cart-text {
        width: 75vw;
    }

    .cart-text:hover {
        width: 75vw;
    }
}